* {
  box-sizing: border-box;
  overflow-x: hidden;
}
header h1 {
  overflow-y: hidden;
}
section h2 {
  overflow-y: hidden;
}
.header {
  height: 460px;
}
.text-center {
  width: 57%;
}
.text-white-50 {
  width: 97%;
}
.lead.text-muted.mb-5 {
    width: 100%;
}
.quote {
    height: 360px;
}