* {
  box-sizing: border-box;
  overflow-x: hidden;
}
header h1 {
  overflow-y: hidden;
}
section h2 {
  overflow-y: hidden;
}
header {
  height: 530px;
}
.text-white-50 {
  width: 97%;
}
.quote {
  max-height: 600px;
  overflow-y: hidden;
}
.hehe {
  width: 100%;
}
.haha {
  width: 100%;
}
h5 {
  overflow: hidden;
  padding-bottom: 0.1rem;
}
.lol {
  width: 100%;
}
.lol h1 {
  overflow: hidden;
}
.removeflow {
  overflow: hidden;
}
.unique {
  padding-left: 20%;
  padding-right: 20%;
}